.profile-element {
    text-align: center;
    .profile-element__img {
        border-radius: 0;
        max-width: 85px;
    }
}

.member-info {
    margin-top: 10px;
}

.nav-header {
    background-image: none;
}
