<div>
    <div class="row wrapper border-bottom white-bg page-heading ng-scope">
        <div class="col-lg-10">
            <h2>Request Data Object</h2>
            <ol class="breadcrumb">
                <li>
                    <a>Home</a>
                </li>
                <li class="active">
                    <strong>Request Data Object from Network</strong>
                </li>
            </ol>
        </div>
        <div class="col-lg-2"></div>
    </div>
    <div class="wrapper wrapper-content animated fadeInRight ng-scope">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-content">
                        <div class="search-form">
                            <form>
                                <div class="input-group">
                                    <input placeholder="Data Object ID" #searchDataObjectId class="form-control input-lg">
                                    <div class="input-group-btn">
                                        <button class="btn btn-lg btn-primary" type="button" (click)="onSearchDataObjectId(searchDataObjectId)" [ladda]="buttonLoading">
                                            {{ buttonText }}
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="hr-line-dashed" *ngIf="doId"></div>
                        <ngx-app-request-history-detail [id]="doId" [memberId]="memberId" *ngIf="doId"></ngx-app-request-history-detail>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
